* {
  box-sizing: border-box;
}

/* custom cursor */

html {
  cursor: url("../img/cursor.png"), auto;
}

@font-face {
  font-family: "Chanh";
  src: url("../chanh.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* Usage example */
body {
  font-family: "Chanh", sans-serif;
}

#img1 {
  filter: brightness(75%);
  backdrop-filter: blur(2px);
}

#image {
  /* tim cach lam background toi hon */
  height: 600px;
  background-image: url("../img/img1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#innerText {
  position: absolute;
  /* top: 70%; */
}

#logo {
  display: block;
}

@media (max-width: 600px) {
  #logo {
    display: none;
  }

  #image {
    height: 300px;
  }

  #productImage {
    height: 150px;
  }

  #button {
    margin: 30px;
  }
}

.typewriter {
  color: white;
  font-family: monospace;
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(40, end) infinite,
    blink-caret 0.5s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

.custom-pattern {
  background-image: radial-gradient(
      rgba(255, 166, 0, 0.372) 2px,
      transparent 2px
    ),
    radial-gradient(rgba(255, 166, 0, 0.372) 2px, transparent 2px);
  background-size: 32px 32px;
  background-position: 0 0, 16px 16px;
  background-color: #e4e4ed00;
}

.custom-pattern2 {
  background: radial-gradient(
        35.36% 35.36% at 100% 25%,
        #0000 66%,
        rgba(255, 166, 0, 0.372) 68% 70%,
        #0000 72%
      )
      32px 32px / calc(2 * 32px) calc(2 * 32px),
    radial-gradient(
        35.36% 35.36% at 0 75%,
        #0000 66%,
        rgba(255, 166, 0, 0.372) 68% 70%,
        #0000 72%
      )
      32px 32px / calc(2 * 32px) calc(2 * 32px),
    radial-gradient(
        35.36% 35.36% at 100% 25%,
        #0000 66%,
        rgba(255, 166, 0, 0.372) 68% 70%,
        #0000 72%
      )
      0 0 / calc(2 * 32px) calc(2 * 32px),
    radial-gradient(
        35.36% 35.36% at 0 75%,
        #0000 66%,
        rgba(255, 166, 0, 0.372) 68% 70%,
        #0000 72%
      )
      0 0 / calc(2 * 32px) calc(2 * 32px),
    repeating-conic-gradient(#e4e4ed00 0 25%, #0000 0 50%) 0 0 / calc(2 * 32px)
      calc(2 * 32px),
    radial-gradient(#0000 66%, rgba(255, 166, 0, 0.372) 68% 70%, #0000 72%) 0
      calc(32px / 2) / 32px 32px #e4e4ed00;
}

.custom-pattern3 {
  background-image: repeating-linear-gradient(
    -45deg,
    #ffffff73,
    rgba(255, 166, 0, 0.05) 6em,
    #ffffff73 6em
  );
}

#map {
  z-index: -9999;
  height: 350px;
}

/* Styles for the back to top button */

#button {
  display: inline-block;
  background-color: #ff9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}
